:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-color-hover: #646cff;
  
  --spinner-size: 4rem;

  --card-width: 128px;
  --card-aspect-ratio: 1.40;
  --card-back-scale-factor: 1.01;
  --pokemon-img-width: var(--card-width);
  --card-flip-duration: 400ms;
  --card-text-scaling-factor: 0.8;
}

#root {
  margin: 0 10%;
  text-align: center;
  height: 100vh;
}

* {
  padding: 0px;
}

header {
  font-size: 3.5rem;
  margin: 30px 0px;
}

header, h1 {
  line-height: 1.1;
}

h1 {
  font-size: 3.2em;
  margin: 0px;
}

h2 {
  margin: 0px;
}

body {
  margin: 0px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--border-color-hover)
}

input:focus,
button:focus,
button:focus-visible {
  outline: 4px auto var(--border-color-hover);
}

@media screen and (max-width: 600px) {
  #root {
    margin: 0px 5%;
  }  
}

/* SECTION: PAGE LAYOUT */
.PlayersFormPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameboardPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOverPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .PlayersFormPage,
  .gameboardPage {
    height: fit-content;
  }
}

/* SECTION: PLAYERS FORM PAGE STYLING */
form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 64px;
}

form > input,
form > button,
form label {
  border-radius: 6px;
  border: 1px solid white;
}

input {
  font-size: 1.8rem;
  padding: 8px;
}

.modeButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.modeButton {
  font-size: 1.2rem;
}

.modeButton > input {
  width: 0;
  height: 0;
  position: absolute;
}

.modeButton > label {
  padding: 4px 12px;
}

input[type="radio"]:checked + label {
  font-weight: 600;
  outline: 4px auto var(--border-color-hover);
}

label:hover {
  outline: 4px auto var(--border-color-hover);
  cursor: pointer;
}

.PlayersFormPage__submit {
  color: white;
}

@media screen and (max-width: 600px) {
  .modeButton > input {
    visibility: hidden;
  }  

  form {
    width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .modeButton {
    font-size: 0.8rem;
  }
} 

/* SECTION: GAMEBOARD PAGE STYING */
.gameboard {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1.5rem;
  max-width: 700px;
  margin: 1rem 0px;
  flex-grow: 1;
}

.startButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  border: 4px solid green;
  box-shadow: 0px 0px 4px 8px rgba(0,0,0, 0.3);
  z-index: 1000;
  color: white;
}

.currentPlayer {
  box-shadow: 0px 0px 5px 2px white;
  padding: 2px 12px;
  border-radius: 8px;
}

.highScoreDisplay { 
  font-size: 1.2rem;
  margin: 1rem 0px;
}

@media screen and (max-width: 600px) {
  .gameboard {
    gap: 1rem;
    width: 100%;
  }
}

/* SECTION: CARD COMPONENT STYLING */
.card {
  width: var(--card-width);
  height: calc(var(--card-width) * var(--card-aspect-ratio));
  background-color: white;
  border: none;
  border-radius: 8px;
  transition: transform var(--card-flip-duration);
}

.card-faceup {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  transition: opacity var(--card-flip-duration);
}

.card-faceup.card-faceup--visible {
  opacity: 1;
}

.card-faceup--hidden {
  display: none;
}

.card--back {
  width: var(--card-width);
  height: calc(var(--card-width) * var(--card-aspect-ratio) * var(--card-back-scale-factor));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-faceup--image {
  height: var(--pokemon-img-width);
  width: var(--pokemon-img-width);
}

.card--flip {
  transform: rotateY(90deg);
}

.card--flip--back {
  transform: rotateY(-90deg);
}

.card h3 {
  width: calc(var(--card-width)*var(--card-text-scaling-factor));
  font-size: 1rem;
  margin: 6px 0px;
  color: black;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
}

.card img {
  user-select: none;
}

@media screen and (max-width: 600px) {
  :root {
    --card-width: 98px;  
  }  
}

/* SECTION: LOADING SPINNER STYLING */
.loadingSpinner {
  border: 6px solid white;
  border-top: 6px solid rgb(177, 177, 255);
  border-radius: 100%;
  height: var(--spinner-size);
  width: var(--spinner-size);
  box-shadow: 0 0 6px white; 
  animation: spin 0.4s linear infinite;
}

.spinnerContainer {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  align-self: start;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* SECTION: PLAYER CONTAINER COMPONENT STYLING */
.playerContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin: 2.5rem 0px 1rem;
}

.medMode {
  max-width: 1000px;
}

.hardMode {
  max-width: 95%;
}

@media screen and (max-width: 600px) {
  .playerContainer {
    flex-direction: column;
    gap: 0.5rem;
  }

  .playerContainer h2 {
    font-size: 1.2rem;
    margin: 4px 0px;
  }

  .highScoreDisplay {
    font-size: 1rem;
    margin-top: 0px;
  }

  .currentPlayer {
    margin: 4px 0px;
  }
}

/* SECTION: GAME OVER PAGE STYLING */
.restartButton {
  font-size: 2rem;
  margin-top: 4rem;
  color: white;
}

/* SECTION: UTIL CLASSES */
.displayNone {
  display: none;
}

.visibilityNone {
  visibility: hidden;
}